@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body{
  font-family: 'Bitter', sans-serif;
  background-color: #e0e0d1;
}

header{
  padding: 15px;
  margin: 0;
  text-align: center;
}

h1{
  margin-left: 10px;
  color: #000;
}

h2 {
font-family:'Manrope', sans-serif;
font-size: 1.5rem;
margin-left: 10px;
text-align: center;

}

#image-div {
  display: block;
  margin: auto auto;
  width: 65%;
}

#image{
  width: 100%;
  max-width: 800px
}

#img-caption {
  margin-top: 10px;
  margin-bottom: 20px;
}

#section-one{
  background-color:#ebebe0;
  padding: 1.5em 2em 1.5em 2em;

}

p{
  font-family:'Manrope', sans-serif;
  font-size: 1rem;
  color: #404040;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  text-indent: 1em;
}

/* layout */

.container {
width: 90%;
max-width: 1000px;
margin: 0 auto;

}



iframe {
width: 100%;
}



.col-bg{
  background: #d6d6c2;
  padding: .5em 2.5em .5em 2.5em;
}

/* end */

#more-info{
  font-family:'Manrope', sans-serif;
  margin-top: 15px;
}
